<div class="container">
  <img class="image" src="/assets/Images/alternancehdCalque.png" width="220" height="80">
  <div class="card card-container">
    <label type="text" class="label_pwdForget">Mot de passe oublié ?</label><br>
    <label type="text">Email</label>
    <input type="email" id="inputEmailPwdForget" class="form-control" placeholder="Entrer votre adresse mail" [(ngModel)]="passwordForget.mail" name="mailPwdForget" required autofocus><br>
    <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="sendPasswordForget()" routerLink="/login" type="submit">Réinitialiser le mot de passe</button><br>
    <label type="text" class="text-center">Pas encore de compte ? <a routerLink="/register">S'inscrire</a></label>
    <label type="text" class="text-center">Vous avez déjà un compte ?<br><a routerLink="/login">Se connecter</a></label>
  </div>
</div>
