<div class="alert" *ngIf="errorMessage">
  <strong>Oh snap!</strong> {{errorMessage}}.
</div>
<div class="container">
  <div class="alert alert-success" role="alert"><h1>Filtre</h1>
<div class="container">

  <div class="row">

      <div class="col-sm alert alert-info" role="alert"><input  placeholder="Recherche" [(ngModel)]="query"></div>

      <div class="col-sm alert alert-info" role="alert">Recherche: {{query}}</div>

     <!-- <div class="col-sm alert alert-info" role="alert">
        <select [(ngModel)]="orderProp">
          <option value="name">Alphabetical</option>
          <option value="star">Star content</option>
        </select>
      </div>-->

      <div class="col-sm alert alert-info" role="alert">
        <select [(ngModel)]="competenceFilter">
          <option> </option>
          <option>C#</option>
          <option>Java</option>
          <option>PHP</option>
          <option>Architecture application</option>
          <option>Architecture systeme</option>
        </select>
      </div>

      <div class="col-sm alert alert-info" role="alert">Total d'étudiant: {{students.length}}</div>
  </div>
  </div>
</div>


    <div class="container">
      <!--Main content-->
      <div class="card" *ngFor="let student of (students | filterArray:query | filterArrayComp:competenceFilter)">
        <div class="row">
          <a href="#/students/{{student.id}}" class="col-sm-2 thumb">
            <img class="img-thumbnail profile-img-card" [src]="student.img" alt="Student image"/>
          </a>
          <div class="col-sm-8 card-block">
            <h4 class="card-title">{{student.name}}</h4>

            <div *ngFor="let skill of getStudentSkills(student)">
              <div class="row">
                <div class="col-4">{{ skill }}</div>
                <div class="col-4"> <star-rating-comp [readOnly]="true" [rating]="student.skills[skill]" [starType]="'svg'"></star-rating-comp></div>
              </div><br>
            </div>
          </div>
          <div class="col align-self-center">
            <button class="btn btn-primary" (click)="sendDetails(student)" type="submit">Détails</button>
          </div>
        </div>
      </div>
    </div>
  <br><br><br><br>
</div>

