<div class="container">
  <div class="card card-container">
    <img class="image" src="/assets/Images/alternancehdCalque.png" width="220" height="80">
    <p id="profile-name" class="profile-name-card"></p>
    <p class="profile-name-card">Inscrivez vos compétences dans chaque catégories</p><br>
    <form class="form-signin">
      <div class="row">
        <div class="alert alert-secondary col-8" role="alert"><strong>C#</strong></div>
        <fieldset class="rating">
          <input type="radio" id="star1.5" name="rating1" value="5" /><label class = "full" for="star1.5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star1.4" name="rating1" value="4" /><label class = "full" for="star1.4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star1.3" name="rating1" value="3" /><label class = "full" for="star1.3" title="Meh - 3 stars"></label>
          <input type="radio" id="star1.2" name="rating1" value="2" /><label class = "full" for="star1.2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1.1" name="rating1" value="1" /><label class = "full" for="star1.1" title="Sucks big time - 1 star"></label>
        </fieldset>
        <div class="w-100"></div>
        <div class="alert alert-secondary col-8" role="alert"><strong>JAVA</strong></div>
        <fieldset class="rating">
          <input type="radio" id="star2.5" name="rating2" value="5" /><label class = "full" for="star2.5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star2.4" name="rating2" value="4" /><label class = "full" for="star2.4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star2.3" name="rating2" value="3" /><label class = "full" for="star2.3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2.2" name="rating2" value="2" /><label class = "full" for="star2.2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star2.1" name="rating2" value="1" /><label class = "full" for="star2.1" title="Sucks big time - 1 star"></label>
        </fieldset>
        <div class="w-100"></div>
        <div class="alert alert-secondary col-8" role="alert"><strong>PHP</strong></div>
        <fieldset class="rating">
          <input type="radio" id="star3.5" name="rating3" value="5" /><label class = "full" for="star3.5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star3.4" name="rating3" value="4" /><label class = "full" for="star3.4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3.3" name="rating3" value="3" /><label class = "full" for="star3.3" title="Meh - 3 stars"></label>
          <input type="radio" id="star3.2" name="rating3" value="2" /><label class = "full" for="star3.2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star3.1" name="rating3" value="1" /><label class = "full" for="star3.1" title="Sucks big time - 1 star"></label>
        </fieldset>
        <div class="w-100"></div>
        <div class="alert alert-secondary col-8" role="alert"><strong>Architecture application</strong></div>
        <fieldset class="rating">
          <input type="radio" id="star4.5" name="rating4" value="5" /><label class = "full" for="star4.5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4.4" name="rating4" value="4" /><label class = "full" for="star4.4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star4.3" name="rating4" value="3" /><label class = "full" for="star4.3" title="Meh - 3 stars"></label>
          <input type="radio" id="star4.2" name="rating4" value="2" /><label class = "full" for="star4.2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star4.1" name="rating4" value="1" /><label class = "full" for="star4.1" title="Sucks big time - 1 star"></label>
        </fieldset>
        <div class="w-100"></div>
        <div class="alert alert-secondary col-8" role="alert"><strong>Architecture système</strong></div>
        <fieldset class="rating">
          <input type="radio" id="star5.5" name="rating5" value="5" /><label class = "full" for="star5.5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star5.4" name="rating5" value="4" /><label class = "full" for="star5.4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star5.3" name="rating5" value="3" /><label class = "full" for="star5.3" title="Meh - 3 stars"></label>
          <input type="radio" id="star5.2" name="rating5" value="2" /><label class = "full" for="star5.2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star5.1" name="rating5" value="1" /><label class = "full" for="star5.1" title="Sucks big time - 1 star"></label>
        </fieldset>
      </div><br>

      <button class="btn btn-lg btn-success btn-block btn-signin" (click)="sendForm()" type="submit">Valider et envoyer</button>
    </form>
  </div>
</div>

