<div class="container">
  <div class="card card-container">
    <img class="image" src="/assets/images/alternancehdCalque.png" width="220" height="80">
    <p id="profile-name" class="profile-name-card"></p>
    <!--<p class="profile-name-card">Inscrivez vos compétences dans chaque catégories</p><br>-->
    <form class="form-signin">
      <div class="row">
        <div class="col-7" role="alert"><strong>C#</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                            [hoverEnabled]="true"
                            (onClick)="onClick($event)"
                            (onRatingChange)="onRatingChange($event)"
                            (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <!--<p>onClickResult: {{onClickResult | json}}</p>-->
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>JAVA</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                            [hoverEnabled]="true"
                            (onClick)="onClickJAVA($event)"
                            (onRatingChange)="onRatingChange($event)"
                            (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <!--<p>onClickResult: {{onClickResultJAVA | json}}</p>-->
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>PHP</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                            [hoverEnabled]="true"
                            (onClick)="onClick($event)"
                            (onRatingChange)="onRatingChange($event)"
                            (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>JEE</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                            [hoverEnabled]="true"
                            (onClick)="onClick($event)"
                            (onRatingChange)="onRatingChange($event)"
                            (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Dotnet</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                            [hoverEnabled]="true"
                            (onClick)="onClick($event)"
                            (onRatingChange)="onRatingChange($event)"
                            (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>C</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Python</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>HTML</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>CSS</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Ruby</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Cobol</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Scala</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Arduino</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Javascript</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>AngularJS</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Angular (2/3/4/5)</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Ionic 1</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Ionic 2 et/ou 3</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Powershell</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)"
                                               (onRatingChange)="onRatingChange($event)"
                                               (onHoverRatingChange)="onHoverRatingChange($event)">
        </star-rating-comp></div>
      </div><br>

      <button class="btn btn-lg btn-success btn-block btn-signin" (click)="sendForm()" type="submit">Valider et envoyer</button>
    </form>
  </div>
</div>
