<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="/assets/Images/student.png"/>
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <input type="text" id="inputLastName" class="form-control" placeholder="Nom" [(ngModel)]="form.last_name" name="last_name" required autofocus>
      <input type="text" id="inputFisrtName" class="form-control" placeholder="Prénom" [(ngModel)]="form.first_name" name="fisrt_name" required>
      <input type="email" id="inputMail" class="form-control" placeholder="Adresse mail" [(ngModel)]="form.mail" name="mail" required>
      <input type="text" id="inputPhone" class="form-control" placeholder="Téléphone" [(ngModel)]="form.phone" name="phone" required>
      <input type="text" id="inputAddress" class="form-control" placeholder="Adresse" [(ngModel)]="form.address" name="address" required>
      <input type="text" id="inputZip" class="form-control" placeholder="Code postal" [(ngModel)]="form.zip" name="zip" required>
      <input type="text" id="inputCountry" class="form-control" placeholder="Ville" [(ngModel)]="form.country" name="country" required>
      <input type="text" id="inputAge" class="form-control" placeholder="Age" [(ngModel)]="form.age" name="age" required>
      <input type="file" id="inputCv" class="form-control" placeholder="Insérer votre C.V." [(ngModel)]="form.cv" name="cv" required><br>

      <button class="btn btn-lg btn-success btn-block btn-signin" (click)="sendForm()" type="submit">Envoie du formulaire</button>
    </form>
  </div>
</div>

