<div class="container">
  <img class="image" src="/assets/images/alternancehdCalque.png" width="220" height="80">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="/assets/images/student.png"/>
    <p id="profile-name" class="profile-name-card"></p>
    <div class="alert alert-danger" *ngIf="!!error" align="center"><strong>{{ error.title }}<br></strong>{{ error.text }}</div>
    <form class="form-signin" #myForm="ngForm" (ngSubmit)="sendLogin(myForm)" novalidate>
      <span id="reauth-email" class="reauth-email"></span>
      <input type="name" id="inputName" class="form-control" placeholder="Nom" [(ngModel)]="students.name" name="Name" required autofocus><br>
      <input type="FirstName" id="inputFirstName" class="form-control" placeholder="Prénom" [(ngModel)]="students.first_name" name="first_name" required><br>
      <input type="NumberPhone" id="inputNumberPhone" class="form-control" placeholder="Numéro de téléphone" [(ngModel)]="students.number_phone" name="number_phone" required><br>
      <input type="Mail" id="inputMail" class="form-control" placeholder="Mail" [(ngModel)]="students.mail" name="mail" required><br>
      <div id="remember" class="checkbox">
      </div><br>
      <div *ngFor="let skill of getStudentSkills(students)">
        <div class="row">
          <div class="col-6">{{ skill }}</div>
          <div class="col-4"> <star-rating-comp [rating]="students.skills[skill]" [starType]="'svg'" [hoverEnabled]="true" (onClick)="onClick($event, skill)"></star-rating-comp></div>
        </div><br>
      </div>
      <button class="btn btn-lg btn-success btn-block btn-signin" (click)="sendLogin(myForm)" type="submit">Etape suivante -></button>

    <!--  <div class="row">

        <div class="col-7" role="alert"><strong>C#</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClick($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>JAVA</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickJAVA($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>PHP</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickPHP($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>JEE</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickJEE($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Dotnet</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickDotnet($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>C</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickC($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Python</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickPython($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>HTML</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickHTML($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>CSS</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickCSS($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Ruby</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickRuby($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Cobol</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickCobol($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Scala</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickScala($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Arduino</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickArduino($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Javascript</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickJavascript($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>AngularJS</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickAngularJS($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Angular (2/3/4/5)</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickAngular($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Ionic 1</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickIonic($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Ionic 2 et/ou 3</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickIonic2($event)">
        </star-rating-comp></div>
        <div class="w-100"></div>
        <div class="col-7" role="alert"><strong>Powershell</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickPowershell($event)">
        </star-rating-comp></div>
      </div><br>

      <div class="row">
        <div class="col-7" role="alert"><strong>SQL</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickSQL($event)">
        </star-rating-comp></div>
        <div class="col-7" role="alert"><strong>JSON</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickJSON($event)">
        </star-rating-comp></div>
        <div class="col-7" role="alert"><strong>XSL</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickXSL($event)">
        </star-rating-comp></div>
        <div class="col-7" role="alert"><strong>XML</strong></div>
        <div class="col-4"><star-rating-comp   [starType]="'svg'"
                                               [hoverEnabled]="true"
                                               (onClick)="onClickXML($event)">
        </star-rating-comp></div>
      </div><br>-->

    </form><!-- /form -->

  </div><!-- /card-container --><br><br>
</div><!-- /container -->

