<div class="container">
  <img class="image" src="/assets/Images/alternancehd.png" width="220" height="80">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="/assets/Images/student.png"/>
    <p id="profile-name" class="profile-name-card"></p>
    <div class="alert alert-danger" *ngIf="!!error" align="center"><strong>{{ error.title }}<br></strong>{{ error.text }}</div>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" class="form-control" placeholder="Adresse mail" [(ngModel)]="login.mail" name="mail" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" [(ngModel)]="login.pwd" name="pwd" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Se souvenir de moi
        </label>
      </div>
      <button class="btn btn-lg btn-success btn-block btn-signin" (click)="sendLogin()" type="submit">Connexion</button>
    </form><!-- /form -->
    <a href="#" class="forgot-password">
      Mot de passe oublié?
    </a>
  </div><!-- /card-container -->
</div><!-- /container -->

