<div class="container">
  <img class="image" src="/assets/images/alternancehdCalque.png" width="220" height="80">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="/assets/images/student.png"/>
    <p id="profile-name" class="profile-name-card"></p>
    <div class="alert alert-danger" *ngIf="!!error" align="center"><strong>{{ error.title }}<br></strong>{{ error.text }}</div>
    <form class="form-signin" #myForm="ngForm" (ngSubmit)="sendLogin(myForm)" novalidate>
      <span id="reauth-email" class="reauth-email"></span>
      <input type="name" id="inputName" class="form-control" placeholder="Nom" [(ngModel)]="students.name" name="Name" required autofocus><br>
      <input type="FirstName" id="inputFirstName" class="form-control" placeholder="Prénom" [(ngModel)]="students.first_name" name="first_name" required><br>
      <input type="NumberPhone" id="inputNumberPhone" class="form-control" placeholder="Numéro de téléphone" [(ngModel)]="students.number_phone" name="number_phone" required><br>
      <input type="Mail" id="inputMail" class="form-control" placeholder="Mail" [(ngModel)]="students.mail" name="mail" required><br>
      <div id="remember" class="checkbox">
      </div><br>
      <button class="btn btn-lg btn-success btn-block btn-signin" (click)="sendLogin(myForm)" type="submit">Etape suivante -></button>
    </form><!-- /form -->

  </div><!-- /card-container -->
</div><!-- /container -->

