/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";


body {
  padding-top: 5rem;
  color:black;
  background-color:white;
  background-image:url(assets/Images/backgroundTest.jpg);
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
