<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>{{student.name}} {{student.first_name}}</h1>
      <ul class="list-inline">
        <li class="list-inline-item">
          <img [src]="student.img" class="img-thumbnail profile-img-card">
        </li>
      </ul>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="goBack()">Go Back</button>
    </div>

    <div class="card container">
      <div class="row">
        <div class="col-5">Nom : </div>
        <div class="col"><strong><span class="tag tag-default col-md-auto">{{student.name}}</span></strong></div>
      </div><br>
      <div class="row">
        <div class="col-5">Prénom : </div>
        <div class="col"><strong><span class="tag tag-default col-md-auto">{{student.first_name}}</span></strong></div>
      </div><br>
      <div class="row">
        <div class="col-5">Numéro de téléphone : </div>
        <div class="col"><strong><span class="tag tag-default col-md-auto">{{student.number_phone}}</span></strong></div>
      </div><br>
      <div class="row">
        <div class="col-5">Adresse mail : </div>
        <div class="col"><strong><span class="tag tag-default col-md-auto">{{student.mail}}</span></strong></div>
      </div><br>
      <div class="row">
        <div class="col-4">C# : </div>
        <div class="col-4"><star-rating-comp [readOnly]="true" [rating]="student.CSharp" [starType]="'svg'"></star-rating-comp></div>
      </div><br>
      <div class="row">
        <div class="col-4">Java : </div>
        <div class="col-4"><star-rating-comp [readOnly]="true" [rating]="student.Java" [starType]="'svg'"></star-rating-comp></div>
      </div><br>
      <div class="row">
        <div class="col-4">PHP : </div>
        <div class="col-4"><star-rating-comp [readOnly]="true" [rating]="student.PHP" [starType]="'svg'"></star-rating-comp></div>
      </div><br>
      <div class="row">
        <div class="col-4">Architecture application : </div>
        <div class="col-4"><star-rating-comp [readOnly]="true"[rating]="student.Architecture_application" [starType]="'svg'"></star-rating-comp></div>
      </div><br>
      <div class="row">
        <div class="col-4">Architecture système : </div>
        <div class="col-4"><star-rating-comp [readOnly]="true" [rating]="student.Architecture_system" [starType]="'svg'"></star-rating-comp></div>
      </div>
    </div>
  </div>
</div>

