<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>{{student.name}} {{student.first_name}}</h1>
      <ul class="list-inline">
        <li class="list-inline-item">
          <img [src]="student.img" class="img-thumbnail profile-img-card">
        </li>
      </ul>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="goBack()">Go Back</button>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-6 col-sm-4 alert alert-dark" role="alert">Nom :</div><div class="col-6 col-sm-4 alert alert-dark" role="alert">{{student.name}}</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 alert alert-dark" role="alert">Prénom :</div><div class="col-6 col-sm-4 alert alert-dark" role="alert">{{student.first_name}}</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 alert alert-dark" role="alert">Numéro de téléphone :</div><div class="col-6 col-sm-4 alert alert-dark" role="alert">{{student.number_phone}}</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 alert alert-dark" role="alert">Adresse mail :</div><div class="col-6 col-sm-4 alert alert-dark" role="alert">{{student.mail}}</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 alert alert-dark" role="alert">C# :</div><div class="col-6 col-sm-4 alert alert-dark" role="alert">{{student.CSharp}} Etoile !</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 alert alert-dark" role="alert">Java :</div><div class="col-6 col-sm-4 alert alert-dark" role="alert">{{student.Java}} Etoile !</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 alert alert-dark" role="alert">PHP :</div><div class="col-6 col-sm-4 alert alert-dark" role="alert">{{student.PHP}} Etoile !</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 alert alert-dark" role="alert">Architecture application :</div><div class="col-6 col-sm-4 alert alert-dark" role="alert">{{student.Architecture_application}} Etoile !</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 alert alert-dark" role="alert">Architecture système :</div><div class="col-6 col-sm-4 alert alert-dark" role="alert">{{student.Architecture_system}} Etoile !</div>
    </div>
  </div>

  <!--<ul class="list-group">
    <li class="list-group-item"><dl><dt>Nom :</dt><dd>{{student.name}}</dd></dl></li>
    <li class="list-group-item"><dl><dt>Prénom :</dt><dd>{{student.first_name}}</dd></dl></li>
    <li class="list-group-item"><dl><dt>Numéro de téléphone :</dt><dd>{{student.number_phone}}</dd></dl></li>
    <li class="list-group-item"><dl><dt>Adresse mail :</dt><dd>{{student.mail}}</dd></dl></li>
    <li class="list-group-item"><dl><dt>C# : {{student.CSharp}} Etoile !</dt></dl></li>
    <li class="list-group-item"><dl><dt>Java : {{student.Java}} Etoile !</dt></dl></li>
    <li class="list-group-item"><dl><dt>PHP : {{student.PHP}} Etoile !</dt></dl></li>
    <li class="list-group-item"><dl><dt>Architecture application : {{student.Architecture_application}} Etoile !</dt></dl></li>
    <li class="list-group-item"><dl><dt>Architecture système : {{student.Architecture_system}} Etoile !</dt></dl></li>
  </ul><br><br><br><br><br><br>-->

</div>

