<div class="container">
  <img src="/assets/Images/alternancehd.png" width="220" height="80">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="/assets/Images/Logo_cesi.png"/>
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" id="inputName" class="form-control" placeholder="Nom d'utilisateur" [(ngModel)]="register.name" name="name" required>
      <input type="email" id="inputEmail" class="form-control" placeholder="Adresse mail" [(ngModel)]="register.mail" name="mail" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" [(ngModel)]="register.pwd" name="pwd" required>
      <input type="tel" id="inputPhone" class="form-control" placeholder="Numéro de téléphone" [(ngModel)]="register.phone" name="phone" required><br>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Se souvenir de moi
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="sendLogin()" type="submit">S'enregistrer</button>
    </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->
